Bonjour,

Vous avez été invité par {{ user.username }} à le rejoindre au sein de l'équipe {{ user.team }}.

Cliquer sur le lien suivant pour le rejoindre : <a href="{{ url('invite', {'route_parameter':'inviToken'}) }}"></a>

A bientôt sur le BGF:ES.