{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
  	<div class="form-group">
		
		<br>
		<br>
		<br>
		<center><h1>Envoyer un mail aux responsables tournois</h1></center>
		<br>
		<br>
		<br>
		<br>
		<center>
			Pour CSGO : sch.laurine@gmail.com
			<br>
			Pour LOL : liard.au@gmail.com
		</center>
	    <!--
		{% form_theme form 'bootstrap_3_layout.html.twig' %}
	
	    	{{ form(form) }}-->
		</div>
	<div class="col-xs-4"></div>
	</div>
</div>
{%endblock%}