{% extends 'base.html.twig' %}

{% block body %}
	<div id="home-sec">
		<div class="container" id="home">
		    <div class="row text-center">
			    <div class="col-xs-3">
			    	<img width="100%" src="{{ asset('bundles/app/images/lol.png') }}" />
			    </div>
			    <div class="col-xs-6">
			    </div>
			    <div class="col-xs-3">
			    	<img width="100%" src="{{ asset('bundles/app/images/csgo.png') }}" />
			    </div>
			</div>
			<div class="row text-center g-pad-bottom">
		        <div class="col-md-12">
		        	<span class="head-main">
		        		Tournois Bordeaux Geek Festival 2016
		        	</span>
		        </div>
		        <div class="row text-center">
			      <div class="col-md-4  col-sm-4">
			        <span class="glyphicon glyphicon-pencil fa-vertical animated icon-round bk-color-grey" aria-hidden="true"></span>
			      	</i>
			        <h4>Vous inscrire </h4>
			        <p>Vous pouvez vous inscrire aux différents tournois e-sport du Bordeaux Geek Festival.</p>
			      </div>
			      <div class="col-md-4  col-sm-4">
			        <p class="glyphicon glyphicon-plus fa-vertical animated icon-round bk-color-grey" aria-hidden="true"></span>
			      	</i>
			        <h4>Créer ou rejoindre une équipe</h4>
			        <p>Ici, vous pourrez consulter, recruter, postuler les diverses équipes inscrites aux différents tournois.</p>
			      </div>
			      <div class="col-md-4  col-sm-4">
			        <p class="glyphicon glyphicon-search fa-vertical animated icon-round bk-color-grey" aria-hidden="true"></span>
			      	</i>
			        <h4>Rechercher</h4>
			        <p>Recherchez les joueurs/les équipes cherchant à s'inscrire aux competitions lors du Bordeaux Geek Festival 2016</p>
			      </div>
			    </div>
		    </div>
		</div>
	</div>

  <div class="container-fluid">
    <div class=""></div>
    <div class="">
		<div class="row">
		    <div class="col-xs-1"></div>
		    <div class="col-xs-10">
		  		<center><h1>Inscription en trois étapes</h1></center>
		    </div>
		    <div class="col-xs-1"></div>
		</div>
		<div class="row">
		  	<br><br>
		  	<center><h3>Précisions</h3>
		  	<p> Toutes les données entrées afin de participer au concours ne seront pas concervées ou 
		  	utilisées à des fins commerciales.</p></center>
		  	<br>
		</div>
		<div class="row pad-top">
	      <div class="col-md-12 text-center">
	        <div class="col-md-4 col-sm-4">
	          <div class="panel panel-danger">
	            <div class="panel-heading">Etape # 1</div>
	            <div class="panel-body">
				  	<p>Entrer ses informations personnelles telles que le nom, prénom du joueur, mail etc...</p>
				  	<p><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Managers, n'oubliez pas 
				  	de cocher la case Manager lors de l'étape numero 1 de l'inscription </p>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-4 col-sm-4">
	          <div class="panel panel-danger">
	            <div class="panel-heading">Etape # 2</div>
	            <div class="panel-body">
		  			<p>Choisissez votre tournoi</p>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-4 col-sm-4">
	          <div class="panel panel-danger">
	            <div class="panel-heading">Etape # 3</div>
	            <div class="panel-body">
				  	<p>Entrez les données correspondant au jeu :</p>
				  	<table  class="table table-bordered">
				  		<tr>
				  			<td>
				  				<img width="100%" src="{{ asset('bundles/app/images/lol.png') }}" />
				  			</td>
				  			<td>
				  				<img width="100%" src="{{ asset('bundles/app/images/csgo.png') }}" />
				  			</td>
				  		</tr>
				  		<tr>
				  			<td>
				  				classement, Pseudo, note allant de 1 à 5 en fonction de votre maitrise d'un poste
				  				(top, mid, bot, support, jungle)
				  			</td>
				  			<td>
				  				classement, Pseudo Steam et Pseudo en Jeu
				  			</td>
				  		</tr>
				  	</table
	            </div>
	          </div>
	        </div>
	      </div>
    	</div>
    </div>
  </div>
  
    <section id="contact-sec">
	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11306.704725687694!2d-0.5760899033524391!3d44.88923845535566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5529ae2518e599%3A0xfbf9c37b548aee04!2sParc+des+Expositions+de+Bordeaux!5e0!3m2!1sfr!2sfr!4v1451757159416" width="100%" height="450" frameborder="0" style="border:1" allowfullscreen></iframe>
	    <div class="add"><i>Addresse: </i> Parc des Expositions de Bordeaux </div>
    </section>
   <br><br>
{% endblock %}
