{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
  	<div class="form-group">
		
		<br>
		<center><h1>Choisir Avatar</h1></center>
		<br>
		<br>
		<br>
		<br>
	    
		{% form_theme form 'bootstrap_3_layout.html.twig' %}
	
	    	{{ form(form) }}
	
	        <a class="btn btn-default" href="{{ path('player_show', {'id':app.user.id}) }}">
	            Retour
	        </a>
		</div>
	<div class="col-xs-4"></div>
	</div>
</div>
{% endblock %}