{% extends 'AppBundle:Team:show.html.twig' %}

{% block applicant %}
	<h1>Liste des postulant</h1>
		{% for user in applicant %}
			<tr>
				<td>
					<a href="{{ path('player_show', { 'id': entity.id }) }}">{{ applicant.username }}</a>
				</td>
				{# <td>{{ applicant.nb }}</td> #}
			</tr>
		{% endfor %}

{% endblock %}
