{% extends '::base.html.twig' %}

{% block body -%}
<h1>Liste des équipes</h1>

<table  class="table table-hover">
  <thead>
    <tr>
      <th>Equipe</th>
      <th>Capitaine d'équipe</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entities %}
    {%set test=0%}
    <tr>
      <td>{{ entity.name }}</td>
      <td>{{ entity.captain }}</td>
      {% if (app.user.team is null)  %}
      	{%for team in appTeam%}
      		{%if team == entity%}
      			{%set test=1%}
      		{%endif%}
      	{%endfor%}
      	{%if (test != 1) and (app.user.tournament == entity.tournament) and (app.user.experience !=null)%}
      		<td><a class="btn btn-default" href="{{ path('team_application', {'id':entity.id}) }}">Postuler</a></td>
      	{%elseif (app.user.tournament != entity.tournament)%}
      		<td></td>
      	{%elseif (app.user.experience == null)%}
      		<td>
	      		<div class="alert alert-warning">
				  <strong>Warning!</strong> Finissez votre inscription afin de postuler à une équipe
				</div>
			</td>
      	{%else%}
      		<td><p>En attente d'une réponse</p></td>
      	{%endif%}
      {%endif%}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
