{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Nom de l'équipe</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Capitaine d'équipe</th>
                <td>{{ entity.captain.username }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
