<!doctype html>
<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<p> Votre inscription au site Bordeaux Geek Festival : e-sport est complète.
</body>
</html>