{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
  	<div class="form-group">
		{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
		
		<br>
		<center><h1>Modifier Informations In-Game</h1></center>
		<br>
		<br>
		<br>
		<br>
    

    	{{ form(edit_form) }}

        <a class="btn btn-default" href="{{ path('experience') }}">
            Back to the list
        </a>
	</div>
    <div class="col-xs-4"></div>
</div>
{% endblock %}
