{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-xs-4"> </div>
	<div class="col-xs-4">
	  	<div class="form-group">
		{% form_theme form 'bootstrap_3_layout.html.twig' %}
		    
		<br>
		<center><h1>Experience creation</h1></center>
		<br>
		<img width="100%" src="{{ asset('bundles/app/images/etape3.png') }}" />
		<br><br><br>
		
		{{ form(form) }}
		</div>
	<div class="col-xs-4"></div>
	</div>
</div>
{% endblock %}
