{% extends '::base.html.twig' %}

{% block body -%}
<h1>Team list</h1>

<table class="records_list">
  <thead>
    <tr>
      <th>Nom du joueur</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entities %}
    <tr>
      <td>{{ entity.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
